<!-- / Begin Body -->
<div class='swanky'>
	<!-- / Introduction Block -->
	<!-- /////////// Begin Dropdown //////////// -->
	<div class='swanky_wrapper'>
		<input id='Dashboard' name='radio' type='radio' checked>
		<label for='Dashboard'>

      <span>查詢</span>
      <div class='lil_arrow'></div>
      <div class='bar'></div>
      <div class='swanky_wrapper__content'>
        <ul>
          <li [routerLink]="['/home',{foo:'foo222'}]">會員查詢</li>
          <li>案件查詢</li>
          <li>金流查詢</li>
        </ul>
      </div>
    </label>
		<input id='Sales' name='radio' type='radio'>
		<label for='Sales'>
      <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/del.png'>
      <span>案件</span>
      <div class='lil_arrow'></div>
      <div class='bar'></div>
      <div class='swanky_wrapper__content'>
        <ul>
          <li>新進案件</li>
          <li>處理中案件</li>
          <li>待處理案件</li>
          <li>已處理案件</li>
          <li>再詢問案件</li>
        </ul>
      </div>
    </label>
		<input id='Messages' name='radio' type='radio'>
		<label for='Messages'>
      <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/mess.png'>
      <span>資訊</span>
      <div class='lil_arrow'></div>
      <div class='bar'></div>
      <div class='swanky_wrapper__content'>
        <ul>
          <li>個人資訊</li>
          <li>人員管理</li>
          <li>登入紀錄</li>
          <li>遊戲管理</li>
        </ul>
      </div>
    </label>
		<input id='Users' name='radio' type='radio'>
		<label for='Users'>
      <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/users.png'>
      <span>Users</span>
      <div class='lil_arrow'></div>
      <div class='bar'></div>
      <div class='swanky_wrapper__content'>
        <ul>
          <li>New User</li>
          <li>User Groups</li>
          <li>Permissions</li>
          <li>Passwords</li>
        </ul>
      </div>
    </label>
		<input id='Settings' name='radio' type='radio'>
		<label for='Settings'>
      <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/set.png'>
      <span>設定</span>
      <div class='lil_arrow'></div>
      <div class='swanky_wrapper__content'>
        <ul>
          <li>修改密碼</li>
          <li>修改個人資訊</li>
          <li>語言變更</li>
          <li>Log Out</li>
        </ul>
      </div>
    </label>
	</div>
	<!-- /////////// End Dropdown //////////// -->