<div class="case-info">
	<div class="case-left">
		<div>
      <img src="http://i.imgur.com/iK4sxzp.png" alt="" width="30px">
			<label>本日新增案件</label>
			<label>{{newcase}}</label>
		</div>

	</div>

	<div class="case-right">
		<ul>
			<li>
				<div>
          <img src="http://i.imgur.com/iK4sxzp.png" alt="" width="30px">
					<label>新案件</label>
					<label>{{unfinished}}</label>
				</div>
			</li>
			<li>
				<div>
          <img src="http://i.imgur.com/iK4sxzp.png" alt="" width="30px">
					<label>處理中案件</label>
					<label>{{processing}}</label>
				</div>
			</li>
			<li>
				<div>
          <img src="http://i.imgur.com/iK4sxzp.png" alt="" width="30px">
					<label>待處理案件</label>
					<label>{{pending}}</label>
				</div>
			</li>
			<li>
				<div>
          <img src="http://i.imgur.com/iK4sxzp.png" alt="" width="30px">
					<label>本日已處理案件</label>
					<label>{{reply}}</label>
				</div>
			</li>
			<li>
				<div>
          <img src="http://i.imgur.com/iK4sxzp.png" alt="" width="30px">
					<label>本日結案案件</label>
					<label>{{finish}}</label>
				</div>
			</li>
		</ul>
	</div>
</div>

<div class="pie-chart-info">
	<app-pie-chart></app-pie-chart>
</div>